<!DOCUMENT html>
<html>
  <head>
  </head>
  <body>

    <div class="row">
      <div class="col-xs-4">
        <h1 id="see-all-games"><%= link_to "See All Games", root_path, class: "btn btn-success btn-sm" %></h1>
      </div>
      <div class="col-xs-4">
        <h3 id="main-header"><%= @game.name %></h3>
      </div>
      <div class="col-xs-4">
        <h1 id="start-over"><%= link_to "Start Over", game_path(@game), class: "btn btn-success btn-sm" %></h1>
      </div>
    </div>

    <div class="row">
      <h4 id="click-card">Click on a card!</h4>
      <h4 id="match">Match!</h4>
      <h4 id="try-again">Try Again!</h4>
    </div>

    <div class="row">

      <div class="col-xs-3"> 
        <%= render 'shared/card_facts' %>
      </div>

      <div class="col-xs-6">
        <%= render 'shared/gameboard' %>
      </div>

      <div class="col-xs-3">
        <%= render 'shared/card_pics' %>
      </div>
    </div>

  </body>
</html>
